# Environment Variables
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Build
dist/
dist-ssr/
build/

# OS
.DS_Store
Thumbs.db
